.listing-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #A9A9A9;
}







/* .listing-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  text-align: center;
} */

.listings-header {
  text-align: center;
}
